<!-- Home will need:  -->
<!-- -a search bar that route to corresponding record. -->
<!-- -a drop down menu for new record types that route to corresponding partial. -->
<!-- - -->
<div ng-app="MedRecordApp" ng-controller="homeCtrl">
    <h3>Welcome to your Home Page</h3>

    <!-- Search Bar here for record search function -->
    <!-- STRETCH GOAL, user can see all records in profile -->
    <!-- <label>Search for records:</label>
    <input type="text" placeholder="type keyword here:">
    <button ng-submit="searchRecs()">Search </button> -->
        <div class="form-group">
            <label>Visit Records</label>
                <ul>
                    <li><button type="button" ng-click="famHistRecord()">Family History: </button></li> 
                    <li><button type="button" ng-click="illRecord()">Major Illness: </button></li> 

                    <li><button type="button" ng-click="medsRecord()">Medications: </button></li> 
                    <li><button type="button" ng-click="patInfoRecord()">Patient Info: </button></li> 
                    <li><button type="button" ng-click="surgRecord()">Surgical Procedures </button></li> 
                    <li><button type="button" ng-click="vaxRecord()">Vaccinations: </button></li> 
                </ul>
        </div>    

    <!-- AFTER NEW FAMILY RECORD AND FAMILY RECORD WORKS,Profile page link Button here -->
    <!-- <section layout="row" layout-sm="column" layout-align="center center" layout-wrap> -->
        <!-- <label>Go to your profile: </label>
        <button type="button" ng-submit="goToProfile()">Profile: </button> 

    </section> -->

    <br>
    <br>

    <!-- STRETCH GOAL, get this working and then, Upgrade to drop down menu -->
    <div class="form-group">
        <label>Create a new record: </label>

        <!-- NEW FAMILY RECORD -->
        
        <form name="main.addForm" class="form" ng-submit="newFamRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Family Record</button>
            </div>
        </form>
        <br>
        <!-- NEW Major Illness -->
        <form name="main.addForm" class="form" ng-submit="newIllRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Illness </button>
            </div>
        </form>

        <br>
        <!-- NEW Meds -->
        <form name="main.addForm" class="form" ng-submit="newMedRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Medication </button>
            </div>
        </form>
        <br>
        <!-- New Patient Inof -->
        <form name="main.addForm" class="form" ng-submit="newPatInfoRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Patient Info</button>
            </div>
        </form>
        <br>
        <!-- NEW Surg Records -->
        <form name="main.addForm" class="form" ng-submit="newSurgRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Surgery </button>
            </div>
        </form>
        <br>
        <!-- NEW VACCINATION RECORD -->
        <form name="main.addForm" class="form" ng-submit="newVaxRecord()">
            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> New Vaccination </button>
            </div>
        </form>
        <br>
    </div>
        
   

    
</div>