<!-- Home will need:  -->
<!-- -a search bar that route to corresponding record. -->
<!-- -a drop down menu for new record types that route to corresponding partial. -->
<!-- - -->
<div ng-app="myApp" ng-controller="myCtrl">
    <h3>Welcome to your Home Page</h3>

    <!-- Search Bar here for record search function -->
    <label>Search for records:</label>
    <input type="text" placeholder="type keyword here:">
    <button ng-click="searchRecs()">Search </button>


    <!-- Profile page link Button here -->
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <!-- <md-button class="md-raised" ng-click="goToProfile()">Profile</md-button> -->
        <label>Go to your profile: </label>
        <button type="button" ng-click="goToProfile()">Profile: </button> 

    </section>

    <br>
    <br>

    <!-- Upgrade to drop down menu later -->
    <div class="form-group">

        <label>Create a new record: </label>
        <ul>
        <!-- <input type="button" class="form-control" placeholder="Family History" ng-click="newFamRecord()"/> -->
            <li><button type="button" ng-click="newIllRecord()">Major Illness: </button></li>
            <li><button type="button" ng-click="newFamRecord()">Family History: </button></li> 
            <li><button type="button" ng-click="newMedRecord()">Medications: </button></li> 
            <li><button type="button" ng-click="newPatInfoRecord()">Patient Info: </button></li> 
            <li><button type="button" ng-click="newSurgRecord()">Surgical Procedures </button></li> 
            <li><button type="button" ng-click="newVaxRecord()">Vaccinations: </button></li> 
        </ul>


    </div>
        
   

    
</div>



