
<nav class="navbar navbar-default" ng-controller="navBarUserCtrl">
    <!-- <div class="form-group" ng-app="MedRecordApp"> -->
        <form 
            <li><img class="logo-icon" src="images/logo.png"></li>    

            <div class="form-group" ng-show="!isLoggedIn">
                <label for="usr">E-Mail: example@mail.com</label>
                <input type="email" class="form-control" id="usr" ng-model="authentication.email">
            </div>
            <div class="form-group" ng-show="!isLoggedIn">
                <label for="pwd">Password: 123123123</label>
                <input type="password" class="form-control" id="pwd" ng-model="authentication.password">
            </div> 
                <ul>
                    <li><button ng-show="!isLoggedIn" ng-click="submitUser()" class="btn btn-info">Login</button></li>
                    <li><button ng-show="isLoggedIn" ng-click="logoutUser()" class="btn btn-info">Logout</button></li>
                </ul>
                <!-- demonstration of two controllers sharing a factory -->
            <!-- <div class="navbar-form navbar-left input-group" ng-show="isLoggedIn">
                <div class="input-group" ng-show="showSearch">
                <span class="input-group-addon glyphicon glyphicon-search" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Search" ng-model="searchText.search">
                </div>
            </div> -->
        </form>
        <button type="button" ng-click="home()" ng-show="!isLoggedIn" class="btn btn-info">Home Page </button> 

    <!-- </div> -->
</nav>

