
        <br>
        <div ng-include="'partials/record/recordPatientInfo.html'"></div>
        <br>
        <div ng-include="'partials/record/recordMedications.html'"></div>
        <br>
        <div ng-include="'partials/record/recordMajorIllnes.html'"></div>
        <br>
        <div ng-include="'partials/record/recordSurgicalProcedures.html'"></div>
        <br>
        <div ng-include="'partials/record/recordVaccinations.html'"></div>
        <br>
        <div ng-include="'partials/record/recordFamilyHistory.html'"></div>
        <br>
