<h2>Record</h2>
<div class="col-xs-12">

    <h3>{{record.record}}</h3>

    <ul class="list-group" id="familyHistory">
        <li class="list-group-item">{{record.family_history.family_member_relation}}</li>
        <li class="list-group-item">{{record.family_history.prion_disease}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_disease}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_event}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_event_ages}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_death}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_death_age}}</li>
        <li class="list-group-item">{{record.family_history.diabetes}}</li>
        <li class="list-group-item">{{record.family_history.diabetes_type}}</li>
        <li class="list-group-item">{{record.family_history.organ_diseases}}</li>
        <li class="list-group-item">{{record.family_history.organ_disease_name}}</li>
        <li class="list-group-item">{{record.family_history.respiratory_disease}}</li>
        <li class="list-group-item">{{record.family_history.respiratory_disease_names}}</li>
        <li class="list-group-item">{{record.family_history.cancer}}</li>
        <li class="list-group-item">{{record.family_history.cancer_death}}</li>
        <li class="list-group-item">{{record.family_history.cancer_types}}</li>
        <li class="list-group-item">{{record.family_history.cancer_event_age}}</li>
        <li class="list-group-item">{{record.family_history.high_blood_pressure}}</li>
        <li class="list-group-item">{{record.family_history.stroke}}</li>
        <li class="list-group-item">{{record.family_history.alzheimers_or_dementia}}</li>
        <li class="list-group-item">{{record.family_history.osteoporosis}}</li>
        <li class="list-group-item">{{record.family_history.bleeding_disorder}}</li>
    </ul>
    
    <!-- <ul class="list-group" id="majorIllness">
        <li class="list-group-item">{{record.major_illness.}}</li>
    </ul> -->
    
    <!-- <ul class="list-group" id="medications">
            <li class="list-group-item">{{record.medication.}}</li>
    </ul> -->

    <!-- <ul class="list-group" id="patientInfo">
            <li class="list-group-item">{{record.patient_info.}}</li>
    </ul>     -->
    
    <!-- <ul class="list-group" id="surgicalProcedures">
            <li class="list-group-item">{{record.surgical_procedure.}}</li>
    </ul>     -->
    
    <!-- <ul class="list-group" id="vaccinations">
            <li class="list-group-item">{{record.vaccination.}}</li>
    </ul>     -->
    

        <!-- <li class="list-group-item">{{record.family_history.}}</li> -->
        <!-- <li class="list-group-item"><strong>Completed: </strong>{{record.isCompleted ? "yes" : "no"}}</li> -->
    

    <button class="btn btn-info"><a ng-href="#!/record/{{record.id}}/edit">Edit</a></button>
</div>



<!-- <div ng-repeat="thingy in records | filter: searchText.search |filter: false:isCompleted">
        <div class="panel panel-default" ng-hide="thingy.isCompleted">
            <div class="panel-body">
                <div class="col-xs-1"><input type="checkbox" ng-model="thingy.isCompleted" ng-change="toggleDonerecord(thingy)"/></div>
                 <div class="col-xs-6"><a ng-href="#!/record/{{thingy.id}}">{{ thingy.record }}</a></div>
                <div class="col-xs-2">{{thingy.dueDate}}</div>
                <div class="col-xs-2">{{thingy.assignedTo}}</div>            
                <div class="col-xs-1"><button ng-click="deleterecord(thingy.id)" class="btn btn-danger">X</button></div>
            </div>
        </div>
</div> -->




<!-- 
// ### HTTP request routes. ```rails routes```
// Prefix Verb   URI Pattern                        Controller#Action
//    family_histories GET    /family_histories(.:format)        family_histories#index
//                     POST   /family_histories(.:format)        family_histories#create
//      family_history GET    /family_histories/:id(.:format)    family_histories#show
//                     PATCH  /family_histories/:id(.:format)    family_histories#update
//                     PUT    /family_histories/:id(.:format)    family_histories#update
//                     DELETE /family_histories/:id(.:format)    family_histories#destroy
// surgical_procedures GET    /surgical_procedures(.:format)     surgical_procedures#index
//                     POST   /surgical_procedures(.:format)     surgical_procedures#create
//  surgical_procedure GET    /surgical_procedures/:id(.:format) surgical_procedures#show
//                     PATCH  /surgical_procedures/:id(.:format) surgical_procedures#update
//                     PUT    /surgical_procedures/:id(.:format) surgical_procedures#update
//                     DELETE /surgical_procedures/:id(.:format) surgical_procedures#destroy
//     major_illnesses GET    /major_illnesses(.:format)         major_illnesses#index
//                     POST   /major_illnesses(.:format)         major_illnesses#create
//       major_illness GET    /major_illnesses/:id(.:format)     major_illnesses#show
//                     PATCH  /major_illnesses/:id(.:format)     major_illnesses#update
//                     PUT    /major_illnesses/:id(.:format)     major_illnesses#update
//                     DELETE /major_illnesses/:id(.:format)     major_illnesses#destroy
//         medications GET    /medications(.:format)             medications#index
//                     POST   /medications(.:format)             medications#create
//          medication GET    /medications/:id(.:format)         medications#show
//                     PATCH  /medications/:id(.:format)         medications#update
//                     PUT    /medications/:id(.:format)         medications#update
//                     DELETE /medications/:id(.:format)         medications#destroy
//        vaccinations GET    /vaccinations(.:format)            vaccinations#index
//                     POST   /vaccinations(.:format)            vaccinations#create
//         vaccination GET    /vaccinations/:id(.:format)        vaccinations#show
//                     PATCH  /vaccinations/:id(.:format)        vaccinations#update
//                     PUT    /vaccinations/:id(.:format)        vaccinations#update
//                     DELETE /vaccinations/:id(.:format)        vaccinations#destroy
//       patient_infos GET    /patient_infos(.:format)           patient_infos#index
//                     POST   /patient_infos(.:format)           patient_infos#create
//        patient_info GET    /patient_infos/:id(.:format)       patient_infos#show
//                     PATCH  /patient_infos/:id(.:format)       patient_infos#update
//                     PUT    /patient_infos/:id(.:format)       patient_infos#update
//                     DELETE /patient_infos/:id(.:format)       patient_infos#destroy
//               items GET    /items(.:format)                   items#index
//                     POST   /items(.:format)                   items#create
//                item GET    /items/:id(.:format)               items#show
//                     PATCH  /items/:id(.:format)               items#update
//                     PUT    /items/:id(.:format)               items#update
//                     DELETE /items/:id(.:format)               items#destroy
//        authenticate POST   /authenticate(.:format)            authentication#authenticate
 -->
