
<!-- <div ng-repeat="record in records"> -->

<!-- VIEW  VACCINATIONS-->
        <!-- <h2>Vaccination Records</h2>
                <div ng-controller="recordUpdateDeleteVaccinationsCtrl" class="col-xs-12"> -->
                        <!-- <ul class="list-group" id="vaccineHistory">

                                <li class="list-group-item"><strong>Vaccine Name:</strong> {{record.vaccine_name}}</li>
                                <li class="list-group-item">Vaccination Date: {{record.vaccination_date}}</li>
                                <li class="list-group-item">Vaccine Expiration: {{record.vaccine_expiration}}</li>
                                <li class="list-group-item"> Record ID: {{record.id}}</li>
                        </ul> -->

<!-- ***************BUTTON HERES  ***************-->
<!--  *************** edit and delete button that takes you to respective 
                        recordUpdateDelete page*************** -->
                <!-- </div> -->
        <!-- </h2> -->

<!-- VIEW SURGICAL PROCEDURE-->
                <!-- <ul class="list-group" id="surgicalProcedures">
                                <li class="list-group-item"><strong>Procedure Name:</strong> {{record.procedure_name}}</li>
                                <li class="list-group-item">Care Giver Name: {{record.care_giver_name}}</li>
                                <li class="list-group-item">Care Giver Title: {{record.care_giver_title}}</li>
                                <li class="list-group-item">Hospital: {{record.hospital}}</li>
                                <li class="list-group-item">Hospital Phone: {{record.hospital_phone}}</li>
                                <li class="list-group-item">Hospital Address: {{record.hospital_address}}</li>
                                <li class="list-group-item">Medication Name: {{record.medication_name}}</li>
                                <li class="list-group-item">Medicaction Purpose: {{record.medication_purpose}}</li>
                                <li class="list-group-item">Medication Dose: {{record.medication_dose}}</li>
                                <li class="list-group-item">Medication Frequency: {{record.medication_frequency}}</li>
                                <li class="list-group-item">Medication Start Date: {{record.medication_start_date}}</li>
                                <li class="list-group-item">Medication End Date: {{record.medication_end_date}}</li>
                                
                <li class="list-group-item"> Record ID: {{record.id}}</li>
                </ul> -->



<!-- VIEW  MAJOR ILLNESS-->
                <!-- <ul class="list-group" id="majorIllness">

                        <li class="list-group-item"><strong>Illness Name:</strong> {{record.illness_name}}</li>
                        <li class="list-group-item">Illness Start Date: {{record.illness_start_date}}</li>
                        <li class="list-group-item">Illness End Date: {{record.illness_end_date}}</li>
                        <li class="list-group-item">Care Giver Name: {{record.care_giver_name}}</li>
                        <li class="list-group-item">Illness Notes: {{record.illness_notes}}</li>
                        <li class="list-group-item">Medication Name: {{record.medication_name}}</li>
                        <li class="list-group-item">Medication Purpose: {{record.illness_notes}}</li>
                        <li class="list-group-item">Medication Dose: {{record.medication_dose}}</li>
                        <li class="list-group-item">Medication Frequency: {{record.medication_frequency}}</li>
                        <li class="list-group-item">Medication Start Date: {{record.medication_start_date}}</li>
                        <li class="list-group-item">Medication End Date: {{record.medication_end_date}}</li>
                        <li class="list-group-item">Treatment Notes: {{record.treatment_notes}}</li>
                        <li class="list-group-item"> Record ID: {{record.id}}</li>
                </ul> -->



<!-- VIEW FAMILY HISTORY -->
        <!-- <ul class="list-group" id="familyHistory">

                <li class="list-group-item"><strong>Family Member:</strong> {{record.family_member_relation}}</li>
                <li class="list-group-item">Prion Disease: {{record.prion_disease}}</li>
                <li class="list-group-item">Cardiac Disease: {{record.cardiac_disease}}</li>
                <li class="list-group-item">Cardiac Event: {{record.cardiac_event}}</li>
                <li class="list-group-item">Cardiac Event Age: {{record.cardiac_event_ages}}</li>
                <li class="list-group-item">Cardiac Death: {{record.cardiac_death}}</li>
                <li class="list-group-item">Cardiac Death Age: {{record.cardiac_death_age}}</li>
                <li class="list-group-item">Diabetes: {{record.diabetes}}</li>
                <li class="list-group-item">Diabetes Type: {{record.diabetes_type}}</li>
                <li class="list-group-item">Organ Diseases: {{record.organ_diseases}}</li>
                <li class="list-group-item">Organ Disease Name: {{record.organ_disease_name}}</li>
                <li class="list-group-item">Respiratory Disease: {{record.respiratory_disease}}</li>
                <li class="list-group-item">Respiratory Disease Names: {{record.respiratory_disease_names}}</li>
                <li class="list-group-item">Cancer: {{record.cancer}}</li>
                <li class="list-group-item">Cancer Death: {{record.cancer_death}}</li>
                <li class="list-group-item">Cancer Types: {{record.cancer_types}}</li>
                <li class="list-group-item">Cancer Event Age: {{record.cancer_event_age}}</li>
                <li class="list-group-item">High Blood Pressure: {{record.high_blood_pressure}}</li>
                <li class="list-group-item">Stroke: {{record.stroke}}</li>
                <li class="list-group-item">Alzheimers or Dementia: {{record.alzheimers_or_dementia}}</li>
                <li class="list-group-item">Osteoporosis: {{record.osteoporosis}}</li>
                <li class="list-group-item">Bleeding Disorder: {{record.bleeding_disorder}}</li></li>
                <li class="list-group-item"> Record ID: {{record.id}}</li>
        </ul> -->

<!-- VIEW PATIENT INFO -->
        <!-- <ul class="list-group" id="patientInfo">

                <li class="list-group-item"><strong>First Name:</strong> {{record.name_first}}</li>
                <li class="list-group-item">Last Name: {{record.name_last}}</li>       
                <li class="list-group-item">Patient Sex: {{record.patient_sex}}</li>
                <li class="list-group-item">Race: {{record.race}}</li>
                <li class="list-group-item">Height: {{record.height}}</li>
                <li class="list-group-item">height in Inches: {{record.height_in_inches}}</li>
                <li class="list-group-item">Weight: {{record.weight}}</li>
                <li class="list-group-item">Weight in Inches: {{record.weight_in_pounds}}</li>
                <li class="list-group-item">Date of Birth: {{record.date_birth}}</li>
                <li class="list-group-item">Address: {{record.address}}</li>
                <li class="list-group-item">Phone Number: {{record.phone_number}}</li>
                <li class="list-group-item">Emergency Contact First Name: {{record.emergency_contact_name_first}}</li>
                <li class="list-group-item">Emergency Contact Last Name: {{record.emergency_contact_name_last}}</li>
                <li class="list-group-item">Emergency Contact Phone Numeber: {{record.emergency_contact_phone_number}}</li>
                <li class="list-group-item">Emergency Contact Address: {{record.emergency_contact_address}}</li>
                <li class="list-group-item">Eligible Blood Donor: {{record.eligible_blood_donor}}</li>
                <li class="list-group-item"> Record ID: {{record.id}}</li>  
        </ul> -->

<!-- VIEW MEDICATIONS -->
            <!-- <li class="list-group-item">Medication Name: {{record.medication_name}}</li>
            <li class="list-group-item">Current Use: {{record.current_use}}</li>
            <li class="list-group-item">Medication Purpose: {{record.mediation_purpose}}</li>
            <li class="list-group-item">Medication Dose Amount: {{record.medication_dose_amount}}</li>
            <li class="list-group-item">Medication Dose Frequency: {{record.medication_dose_frequency}}</li>
            <li class="list-group-item">Medication Start Date: {{record.medication_start_date}}</li>
            <li class="list-group-item">Care Giver: {{record.care_giver}}</li>
            <li class="list-group-item">Care Giver Title: {{record.care_giver_title}}</li>
            <li class="list-group-item"> Record ID: {{record.id}}</li> -->

<!-- </div> -->