<!-- welcome to plus login feature, link to new user -->

<!-- open app to "logo" at top and "Welcome to
    Photo Tutor, please login here." center bottom third -->

    <div class="container">
        <div class="col-md-12">
          <h4 id="welcome">Welcome to your Medical Record Journal.</h4>
            <!-- <h6>Do not input real personal information, this app is currently in test phase.</h6> -->
            <!-- <div class="col-xs-9">
                <img src="images/logo.png"> -->
            </div> 
          <!-- <button ng-submit="loginGoogle()" class="btn btn-info">Sign In</button> -->
        </div>
        
        

        <!-- <p>&copy; 2017 Daniel Babcock.</p> -->
        
    </div>

  