<!-- api specific field info plus save button, goes the new record upon save -->
<!-- form for::::::: -->
<!-- Field: Vaccination:
Columns: 

patient_id
vaccine_name : string
vaccination_date : date
vaccine_expiration : date -->


<div ng-app="MedRecordApp" ng-controller="newRecordVaccinationsCtrl">

        <!-- newRecordFamilyHistoryCtrl -->
        <!-- ************
        Form Title 
        ************ -->
        <h3 >Vaccinations</h3>
        <form>
        <!-- <form ng-model="selectedFormType.newRecordFamilyHistory"> -->
            <!-- <div class="form-group">
                <label>record Description</label>
                <input type="text" class="form-control" placeholder="Some important record" ng-model="record.record"/>
            </div> -->
            <!-- ************
            Fields to fill
            ************ -->
            <form>
                <div class="form-group">
                    <label>Vaccine Name: </label>
                    <input type="text" class="form-control" placeholder="Yellow Fever" ng-model="record.vaccineName"/>
                </div>
                <div class="form-group">
                        <label>Vaccination Date: </label>
                        <input id="date" type="date" value="2017-06-01" class="form-control" ng-model="record.vaccinationDate"/>
                </div>
                <div class="form-group">
                        <label>Vaccination Expiration: </label>
                        <!-- <input id="date" type="date" value="2017-06-01" class="form-control" ng-model="record.vaccineExpiration"/> -->
                        <input id="date" type="datetime-local" name="vaxExp" class="form-control" ng-model="record.vaccineExpiration"/>
                    </div>
               
                        <input id="date" type="datetime-local" name="vaxExp" class="form-control" ng-model="record.vaccineExpiration"/>
            
                <!-- ************
                Buttons
                ************ -->
                <div class="text-center">
                    <button class="btn btn-default" ng-click="submitNewRecordFamilyHistory()">Save and Submit</button>    
                </div>
            </form>
        </form>
    </div>
    