<!-- api specific field info plus save button, goes the new record upon save -->
<!-- form for::::::: -->
<!-- Field: Patient-Info:
Columns: 

name_first : string
name_last : string
patient_id : hash
patient_sex : string
race : string
height : string
height_in_inches : boolean
weight : num
weight_in_pounds : boolean
date_birth : date
address : string
phone_number : num
emergency_contact_name_first : string
emergency_contact_name_last : string
emergency_contact_phone_number : string
emergency_contact_address : string
eligible_blood_donor : boolean -->