<div class="form-group" ng-app="MedRecordApp" ng-controller="newRecordVaccinationsCtrl">

    <h3 >Vaccinations</h3>
    
    <form name="main.addForm" class="form" ng-submit="submitNewRecordVaccinations()">

        <form>

            <div class="form-group">
                <label>Vaccine Name: </label>
                <input type="text" class="form-control" placeholder="Yellow Fever" ng-model="record.vaccine_name"/>
            </div>
            <div class="form-group">
                <label>Vaccination Date: </label>
                <input type="date-time" class="form-control" placeholder="2005/Dec/25 - 0700" ng-model="record.vaccination_date"/>
            </div>
            <div class="form-group">
                <label>vaccine Expiration: </label>
                <input type="date-time" class="form-control" placeholder="2015/Dec/24 - 0600" ng-model="record.vaccine_expiration"/>
            </div>

            <div class="col-xs-6">
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Submit Vaccination</button>
            </div>
        </form>
    </form>
</div>
