<div class="form-group" ng-app="MedRecordApp" ng-controller="newRecordFamilyHistoryCtrl">


    <form name="main.addForm" class="form" ng-submit="submitNewRecordFamilyHistory()">
    <!-- ************
    Form Title 
    ************ -->
        <h3 >Family History</h3>
        <h6>Do not input real personal information, this app is currently in test phase.</h6>

        <!-- <form> -->

            <!-- ************
            Fields to fill
            ************ -->
            <!-- <div ng-repeat="record in records" ng-controller="newRecordFamilyHistoryCtrl"> -->
            <form>
                <div class="form-group">
                    <strong><label>Family Member Relation: </label> 
                    <!-- <li class="list-group-item">{{record.family_member_relation}}</li> -->
                    <input type="text" class="form-control" placeholder="Mother" ng-model="record.family_history.family_member_relation"/>
                </div>
    
                <div class="form-group">
                    <label>Prion Diesease: </label>
                    <input type="radio" name="prionDisease" ng-model="record.family_history.prion_disease" ng-value="true"/> True
                    <input type="radio" name="prionDisease" ng-model="record.family_history.prion_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Disease: </label>
                    <input type="radio" name="cardiacDisease" ng-model="record.family_history.cardiac_disease" ng-value="true"/> True
                    <input type="radio" name="cardiacDisease" ng-model="record.family_history.cardiac_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Event: </label>
                    <input type="radio" name="cardiacEvent" ng-model="record.family_history.cardiac_event" ng-value="true"/> True
                    <input type="radio" name="cardiacEvent" ng-model="record.family_history.cardiac_event" ng-value="false"/>  False
                </div>
                <div class="form-group">
                    <label>Cardiac Event Age: </label>
                    <input type="text" class="form-control" placeholder="34" ng-model="record.family_history.cardiac_event_ages"/>
                </div>
                <div class="form-group">
                    <label>Cardiac Death: </label>
                    <input type="radio" name="cardiacDeath" ng-model="record.family_history.cardiac_death" ng-value="true"/> True
                    <input type="radio" name="cardiacDeath" ng-model="record.family_history.cardiac_death" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Death Age: </label>
                    <input type="text" class="form-control" placeholder="34" ng-model="record.family_history.cardiac_death_age"/>
                </div>

                <div class="form-group">
                    <label>Diabetes: </label>
                    <input type="radio" name="diabetes" ng-model="record.family_history.diabetes" ng-value="true"/> True
                    <input type="radio" name="diabetes" ng-model="record.family_history.diabetes" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Diabetes Type: </label>
                    <input type="text" class="form-control" placeholder="2" ng-model="record.family_history.diabetes_type"/>
                </div>

                <div class="form-group">
                    <label>Organ Diseases: </label>
                    <input type="radio" name="organDiseases" ng-model="record.family_history.organ_diseases" ng-value="true"/> True
                    <input type="radio" name="organDiseases" ng-model="record.family_history.organ_diseases" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Organ Disease Name: </label>
                    <input type="text" class="form-control" placeholder="Cirrhosis of Liver" ng-model="record.family_history.organ_disease_name"/>
                </div>
    
                <div class="form-group">
                    <label>Respiratory Disease: </label>
                    <input type="radio" name="respiratoryDisease" ng-model="record.family_history.respiratory_disease" ng-value="true"/> True
                    <input type="radio" name="respiratoryDisease" ng-model="record.family_history.respiratory_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Respiratory Disease Names: </label>
                    <input type="text" class="form-control" placeholder="Whooping Cough" ng-model="record.family_history.respiratory_disease_names"/>
                </div>
    
                <div class="form-group">
                    <label>Cancer: </label>
                    <input type="radio" name="cancer" ng-model="record.family_history.cancer" ng-value="true"/> True
                    <input type="radio" name="cancer" ng-model="record.family_history.cancer" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cancer Death: </label>
                    <input type="radio" name="cancerDeath" ng-model="record.family_history.cancer_death" ng-value="true"/> True
                    <input type="radio" name="cancerDeath" ng-model="record.family_history.cancer_death" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cancer Types: </label>
                    <input type="text" class="form-control" placeholder="Lung, Brain, ..." ng-model="record.family_history.cancer_types"/>
                </div>
                <div class="form-group">
                    <label>Cancer Event Age: </label>
                    <input type="text" class="form-control" placeholder="25" ng-model="record.family_history.cancer_event_age"/>
                </div>

                <div class="form-group">
                    <label>High Blood Pressure: </label>
                    <input type="radio" name="highBloodPressure" ng-model="record.family_history.high_blood_pressure" ng-value="true"/> True
                    <input type="radio" name="highBloodPressure" ng-model="record.family_history.high_blood_pressure" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Stroke: </label>
                    <input type="radio" name="stroke" ng-model="record.family_history.stroke" ng-value="true"/> True
                    <input type="radio" name="stroke" ng-model="record.family_history.stroke" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Alzheimers or Dementia: </label>
                    <input type="radio" name="alzheimersOrDementia" ng-model="record.family_history.alzheimers_or_dementia" ng-value="true"/> True
                    <input type="radio" name="alzheimersOrDementia" ng-model="record.family_history.alzheimers_or_dementia" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Osteoporosis: </label>
                    <input type="radio" name="osteoporosis" ng-model="record.family_history.osteoporosis" ng-value="true"/> True
                    <input type="radio" name="osteoporosis" ng-model="record.family_history.osteoporosis" ng-value="false"/>  False
                </div>
                
                <div class="form-group">
                    <label>Bleeding Disorder: </label>
                    <input type="radio" name="bleedingDisorder" ng-model="record.family_history.bleeding_disorder" ng-value="true"/> True
                    <input type="radio" name="bleedingDisorder" ng-model="record.family_history.bleeding_disorder" ng-value="false"/>  False
                </div>
                <!-- </div> -->
                <!-- ************
                Button
                ************ -->
                <div class="col-xs-6">
                    <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Submit New Family Record
                    </button>
                </div>
            </form>
    </form>
</div>
