<!-- api specific field info plus save button, goes the new record upon save -->
<!-- form for::::::: -->
<!-- Field: Patient-Info:
Columns: 

name_first : string
name_last : string
patient_id : hash
patient_sex : string
race : string
height : string
height_in_inches : boolean
weight : num
weight_in_pounds : boolean
date_birth : date
address : string
phone_number : num
emergency_contact_name_first : string
emergency_contact_name_last : string
emergency_contact_phone_number : string
emergency_contact_address : string
eligible_blood_donor : boolean -->

<!-- ************
Form Title 
************ -->
<h3>Patient Information</h3>
<form>
    <!-- <div class="form-group">
        <label>Task Description</label>
        <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
    </div> -->
    <!-- ************
    Fields to fill
    ************ -->
    <form>
        <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" placeholder="Dave" ng-model="record.firstName"/>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Jones" ng-model="record.lastName"/>
        </div>
        <div class="form-group">
            <label>Sex</label>
            <input type="text" class="form-control" placeholder="Male/Female" ng-model="record.sex"/>
        </div>
        <div class="form-group">
            <label>Race</label>
            <input type="text" class="form-control" placeholder="Caucasian/ect" ng-model="record.race"/>
        </div>
        <div class="form-group">
            <label>Height</label>
            <input type="text" class="form-control" placeholder="72" ng-model="record.height"/>
        </div>
        <div class="form-group">
            <label>Height in Inches?</label>
            <input type="text" class="form-control" placeholder="True/False" ng-model="record.heightInInches"/>
        </div>
        <div class="form-group">
            <label>Weight</label>
            <input type="text" class="form-control" placeholder="180" ng-model="record.weight"/>
        </div>
        <div class="form-group">
            <label>Weight in pounds?</label>
            <input type="text" class="form-control" placeholder="True/False" ng-model="record.weightInPounds"/>
        </div>
        <div class="form-group">
            <label>Date of birth:</label>
            <input type="text" class="form-control" placeholder="1953/12/24" ng-model="record.dateOfBirth"/>
        </div>
        <div class="form-group">
            <label>Address:</label>
            <input type="text" class="form-control" placeholder="1200 E Meadow Place, Nashville TN 37211" ng-model="record.address"/>
        </div>
        <div class="form-group">
            <label>Phone Number:</label>
            <input type="text" class="form-control" placeholder="615-000-0000" ng-model="record.phoneNumber"/>
        </div>
        <div class="form-group">
            <label>Emergency Contact First Name</label>
            <input type="text" class="form-control" placeholder="Bob" ng-model="record.emergencyContactFirstName"/>
        </div>
        <div class="form-group">
            <label>Emergency Contact Last Name</label>
            <input type="text" class="form-control" placeholder="Jones" ng-model="record.emergencyContactLastName"/>
        </div>
        <div class="form-group">
            <label>Emergency Contact Address</label>
            <input type="text" class="form-control" placeholder="72" ng-model="record.emergencyContactAddress"/>
        </div>
        <div class="form-group">
            <label>Emergency Contact Phone Number</label>
            <input type="text" class="form-control" placeholder="72" ng-model="record.emergencyContactPhoneNumber"/>
        </div>
        <div class="form-group">
            <label>Eligible Blood Donor</label>
            <input type="text" class="form-control" placeholder="True/False" ng-model="record.eligibleBloodDonor"/>
        </div>

        <!-- ************
        Buttons
        ************ -->
        <div class="text-center">
            <button class="btn btn-default" ng-click="submitTask()">Save and Submit</button>    
        </div>
    </form>
</form>

