<h2>Record</h2>
<div class="col-xs-12">

    <h3>{{record.record}}</h3>

    <ul class="list-group" id="familyHistory">
        <li class="list-group-item">{{record.family_history.family_member_relation}}</li>
        <li class="list-group-item">{{record.family_history.prion_disease}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_disease}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_event}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_event_ages}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_death}}</li>
        <li class="list-group-item">{{record.family_history.cardiac_death_age}}</li>
        <li class="list-group-item">{{record.family_history.diabetes}}</li>
        <li class="list-group-item">{{record.family_history.diabetes_type}}</li>
        <li class="list-group-item">{{record.family_history.organ_diseases}}</li>
        <li class="list-group-item">{{record.family_history.organ_disease_name}}</li>
        <li class="list-group-item">{{record.family_history.respiratory_disease}}</li>
        <li class="list-group-item">{{record.family_history.respiratory_disease_names}}</li>
        <li class="list-group-item">{{record.family_history.cancer}}</li>
        <li class="list-group-item">{{record.family_history.cancer_death}}</li>
        <li class="list-group-item">{{record.family_history.cancer_types}}</li>
        <li class="list-group-item">{{record.family_history.cancer_event_age}}</li>
        <li class="list-group-item">{{record.family_history.high_blood_pressure}}</li>
        <li class="list-group-item">{{record.family_history.stroke}}</li>
        <li class="list-group-item">{{record.family_history.alzheimers_or_dementia}}</li>
        <li class="list-group-item">{{record.family_history.osteoporosis}}</li>
        <li class="list-group-item">{{record.family_history.bleeding_disorder}}</li>
    </ul>
    
    <!-- <ul class="list-group" id="majorIllness">
        <li class="list-group-item">{{record.major_illness.}}</li>
    </ul> -->
    
    <!-- <ul class="list-group" id="medications">
            <li class="list-group-item">{{record.medication.}}</li>
    </ul> -->

    <!-- <ul class="list-group" id="patientInfo">
            <li class="list-group-item">{{record.patient_info.}}</li>
    </ul>     -->
    
    <!-- <ul class="list-group" id="surgicalProcedures">
            <li class="list-group-item">{{record.surgical_procedure.}}</li>
    </ul>     -->
    
    <!-- <ul class="list-group" id="vaccinations">
            <li class="list-group-item">{{record.vaccination.}}</li>
    </ul>     -->
    

        <!-- <li class="list-group-item">{{record.family_history.}}</li> -->
        <!-- <li class="list-group-item"><strong>Completed: </strong>{{record.isCompleted ? "yes" : "no"}}</li> -->
    
    <button class="btn btn-info"><a ng-href="#!/record/{{record.id}}/edit">Edit</a></button>

</div>


