<h2>Patient Info Records</h2>
<div ng-controller="recordUpdateDeletePatientInfoCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <form>
            <div class="form-group">
                    <label>First Name: </label>
                    <input type="text" class="form-control" ng-model="record.name_first"/>
                </div>
                        <!-- name_last : string -->
                <div class="form-group">
                    <label>Last Name: </label>
                    <input type="text" class="form-control" ng-model="record.name_last"/>
                </div>
                
                <!-- patient_sex : string -->
                <div class="form-group">
                    <label>Biological Sex: </label>
                    <input type="text" class="form-control" ng-model="record.patient_sex"/>
                </div>
                <!-- race : string -->
                <div class="form-group">
                    <label>Race: </label>
                    <input type="text" class="form-control" ng-model="record.race"/>
                </div>
                <!-- height : string -->
                <div class="form-group">
                    <label>Height: </label>
                    <input type="text" class="form-control" ng-model="record.height"/>
                </div>
                <!-- height_in_inches : boolean -->
                <div class="form-group">
                    <label>Height in Inches: </label>
                    <input type="radio" name="currentUse" ng-model="record.height_in_inches" ng-value="true"/> True
                    <input type="radio" name="currentUse" ng-model="record.height_in_inches" ng-value="false"/>  False
                </div>
                <!-- weight : num -->
                <div class="form-group">
                    <label>Weight: </label>
                    <input type="number" class="form-control" ng-model="record.weight"/>
                </div>
                <!-- weight_in_pounds : boolean -->
                <div class="form-group">
                    <label>Weight in Pounds: </label>
                    <input type="radio" name="currentUse" ng-model="record.weight_in_pounds" ng-value="true"/> True
                    <input type="radio" name="currentUse" ng-model="record.weight_in_pounds" ng-value="false"/>  False
                </div>
                <!-- date_birth : date -->
                <div class="form-group">
                    <label>Date of Birth: </label>
                    <input type="datetime-local" class="form-control" ng-model="record.date_birth"/>
                </div>
                <!-- address : string -->
                <div class="form-group">
                    <label>Address: </label>
                    <input type="text" class="form-control" ng-model="record.address"/>
                </div>
                <!-- phone_number : num -->
                <div class="form-group">
                    <label>Phone Number: </label>
                    <input type="integer" class="form-control" ng-model="record.phone_number"/>
                </div>
                <!-- emergency_contact_name_first : string -->
                <div class="form-group">
                    <label>Emergency Contact First Name: </label>
                    <input type="text" class="form-control" ng-model="record.emergency_contact_name_first"/>
                </div>
                <!-- emergency_contact_name_last : string -->
                <div class="form-group">
                    <label>Emergency Contact Last Name: </label>
                    <input type="text" class="form-control" ng-model="record.emergency_contact_name_last"/>
                </div>
                <!-- emergency_contact_phone_number : string -->
                <div class="form-group">
                    <label>Emergency Contact Phone Number: </label>
                    <input type="text" class="form-control" ng-model="record.emergency_contact_phone_number"/>
                </div>
                <!-- emergency_contact_address : string -->
                <div class="form-group">
                    <label>Emergency Contact Address: </label>
                    <input type="text" class="form-control" ng-model="record.emergency_contact_address"/>
                </div>
                <!-- eligible_blood_donor : boolean  -->
                <div class="form-group">
                    <label>Eligible Blood Donor: </label>
                    <input type="radio" name="currentUse" ng-model="record.eligible_blood_donor" ng-value="true"/> True
                    <input type="radio" name="currentUse" ng-model="record.eligible_blood_donor" ng-value="false"/>  False
                </div>
            
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="edRecord(record.id, record)">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit: {{record.name_first}}
                    </button>
                </div>
                
                <div class="col-xs-12">
                        <button class="btn btn-primary" ng-click="delRecord(record.id)">
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete: {{record.record.name_first}}
                        </button>
                </div>
            
            
        </form>
    </div>
</div>