<h2>Vaccination Records</h2>
<div ng-controller="recordUpdateDeleteVaccinationsCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <ul class="list-group" id="vaccineHistory">

            <li class="list-group-item"><strong>Vaccine Name:</strong> {{record.vaccine_name}}</li>
            <li class="list-group-item">Vaccination Date: {{record.vaccination_date}}</li>
            <li class="list-group-item">Vaccine Expiration: {{record.vaccine_expiration}}</li>
            <li class="list-group-item"> Record ID: {{record.id}}</li>

            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.vaccine_name}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.vaccine_name}}
                    </button>
            </div>
            
        </ul>
        
    </div>
</div>