<h2>Illness Records</h2>
<div ng-controller="recordUpdateDeleteMajorIllnessCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <!-- <ul class="list-group" id="majorIllness"> -->
        <form>
            
            <div class="form-group">
                    <label>Illness Name: </label>
                    <input type="text" class="form-control"ng-model="record.illness_name"/>
                </div>
    
                <div class="form-group">
                    <label>Illness Start Date: </label>
                    <input id="date" type="datetime-local" name="illnessStartDate" class="form-control" ng-model="record.illness_start_date"/>
                </div>
    
                <div class="form-group">
                    <label>Illness End Date: </label>
                    <input id="date" type="datetime-local" name="illnessEndDate" class="form-control" ng-model="record.illness_end_date"/>
                </div>
    
                <div class="form-group">
                    <label>Care Giver Name: </label>
                    <input type="text" class="form-control" ng-model="record.care_giver_name"/>
                </div>
    
                <div class="form-group">
                    <label>Illness Notes: </label>
                    <input type="text" class="form-control" ng-model="record.illness_notes"/>
                </div>
    
                <div class="form-group">
                        <label> <div class="form-group">
                    <label>Medication Name: </label>
                    <input type="text" class="form-control" ng-model="record.medication_name"/>
    
                </div>: 
                    <label>Medication Dose: </label>
                    <input type="text" class="form-control" ng-model="record.medication_dose"/>
                </div>
    
                <div class="form-group">
                    <label>Medication Dose: </label>
                    <input type="text" class="form-control" ng-model="record.medication_purpose"/>
                </div>
    
                <div class="form-group">
                    <label>Medication Frequency: </label>
                    <input type="text" class="form-control" ng-model="record.medication_frequency"/>
    
                </div>
    
                <div class="form-group">
                    <label>Medication Start Date: </label>
                    <input type="text" class="form-control" ng-model="record.medication_start_date"/>
                </div>
                
                <div class="form-group">
                    <label>Medication End Date: </label>
                    <input id="date" type="datetime-local" name="illnessEndDate" class="form-control" ng-model="record.medication_end_date"/>
    
                </div>
    
                <div class="form-group">
                    <label>Treatment Notes: </label>
                    <input id="date" type="datetime-local" name="illnessEndDate" class="form-control" ng-model="record.treatment_notes"/>
                </div>
            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id, record)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.illness_name}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.illness_name}}
                    </button>
            </div>
            
        <!-- </ul> -->
        </form>
    </div>
</div>

