<h2>Family Records</h2>
<div ng-controller="recordUpdateDeleteFamilyHistoryCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <!-- <ul class="list-group" id="familyHistory"> -->
            
            
            <!-- **********TEST CODE************** -->

            <form>
                <div class="form-group">
                    <strong><label>Family Member Relation: </label> 
                    <!-- <li class="list-group-item">{{record.family_member_relation}}</li> -->
                    <input type="text" class="form-control"  ng-model="record.family_member_relation"/>
                </div>
    
                <div class="form-group">
                    <label>Prion Diesease: </label>
                    <input type="radio" name="prionDisease" ng-model="record.prion_disease" ng-value="true"/> True
                    <input type="radio" name="prionDisease" ng-model="record.prion_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Disease: </label>
                    <input type="radio" name="cardiacDisease" ng-model="record.cardiac_disease" ng-value="true"/> True
                    <input type="radio" name="cardiacDisease" ng-model="record.cardiac_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Event: </label>
                    <input type="radio" name="cardiacEvent" ng-model="record.cardiac_event" ng-value="true"/> True
                    <input type="radio" name="cardiacEvent" ng-model="record.cardiac_event" ng-value="false"/>  False
                </div>
                <div class="form-group">
                    <label>Cardiac Event Age: </label>
                    <input type="text" class="form-control" ng-model="record.cardiac_event_ages"/>
                </div>
                <div class="form-group">
                    <label>Cardiac Death: </label>
                    <input type="radio" name="cardiacDeath" ng-model="record.cardiac_death" ng-value="true"/> True
                    <input type="radio" name="cardiacDeath" ng-model="record.cardiac_death" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cardiac Death Age: </label>
                    <input type="text" class="form-control" ng-model="record.cardiac_death_age"/>
                </div>

                <div class="form-group">
                    <label>Diabetes: </label>
                    <input type="radio" name="diabetes" ng-model="record.diabetes" ng-value="true"/> True
                    <input type="radio" name="diabetes" ng-model="record.diabetes" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Diabetes Type: </label>
                    <input type="text" class="form-control" ng-model="record.diabetes_type"/>
                </div>

                <div class="form-group">
                    <label>Organ Diseases: </label>
                    <input type="radio" name="organDiseases" ng-model="record.organ_diseases" ng-value="true"/> True
                    <input type="radio" name="organDiseases" ng-model="record.organ_diseases" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Organ Disease Name: </label>
                    <input type="text" class="form-control" ng-model="record.organ_disease_name"/>
                </div>
    
                <div class="form-group">
                    <label>Respiratory Disease: </label>
                    <input type="radio" name="respiratoryDisease" ng-model="record.respiratory_disease" ng-value="true"/> True
                    <input type="radio" name="respiratoryDisease" ng-model="record.respiratory_disease" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Respiratory Disease Names: </label>
                    <input type="text" class="form-control" ng-model="record.respiratory_disease_names"/>
                </div>
    
                <div class="form-group">
                    <label>Cancer: </label>
                    <input type="radio" name="cancer" ng-model="record.cancer" ng-value="true"/> True
                    <input type="radio" name="cancer" ng-model="record.cancer" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cancer Death: </label>
                    <input type="radio" name="cancerDeath" ng-model="record.cancer_death" ng-value="true"/> True
                    <input type="radio" name="cancerDeath" ng-model="record.cancer_death" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Cancer Types: </label>
                    <input type="text" class="form-control" ng-model="record.cancer_types"/>
                </div>
                <div class="form-group">
                    <label>Cancer Event Age: </label>
                    <input type="text" class="form-control" ng-model="record.cancer_event_age"/>
                </div>

                <div class="form-group">
                    <label>High Blood Pressure: </label>
                    <input type="radio" name="highBloodPressure" ng-model="record.high_blood_pressure" ng-value="true"/> True
                    <input type="radio" name="highBloodPressure" ng-model="record.high_blood_pressure" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Stroke: </label>
                    <input type="radio" name="stroke" ng-model="record.stroke" ng-value="true"/> True
                    <input type="radio" name="stroke" ng-model="record.stroke" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Alzheimers or Dementia: </label>
                    <input type="radio" name="alzheimersOrDementia" ng-model="record.alzheimers_or_dementia" ng-value="true"/> True
                    <input type="radio" name="alzheimersOrDementia" ng-model="record.alzheimers_or_dementia" ng-value="false"/>  False
                </div>

                <div class="form-group">
                    <label>Osteoporosis: </label>
                    <input type="radio" name="osteoporosis" ng-model="record.osteoporosis" ng-value="true"/> True
                    <input type="radio" name="osteoporosis" ng-model="record.osteoporosis" ng-value="false"/>  False
                </div>
                
                <div class="form-group">
                    <label>Bleeding Disorder: </label>
                    <input type="radio" name="bleedingDisorder" ng-model="record.bleeding_disorder" ng-value="true"/> True
                    <input type="radio" name="bleedingDisorder" ng-model="record.bleeding_disorder" ng-value="false"/>  False
                </div>


            <!-- **********TEST CODE************** -->


            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.family_member_relation}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.family_member_relation}}
                    </button>
            </div>
    <!-- **********TEST CODE************** -->
            </form>
    <!-- **********TEST CODE************** -->

        <!-- </ul> -->
        
    </div>
</div>

<!-- <li><div>
    <label>: </label>
    <input type="text" class="form-control" ng-model="record."/>
</div></li> -->