<h2>Vaccination Records</h2>
<div ng-controller="recordUpdateDeleteVaccinationsCtrl" class="col-xs-12">

    <div ng-repeat="record in records">

    <form>

            <div class="form-group">
                <label>Vaccine Name: </label>
                <input type="text" class="form-control" ng-model="record.vaccine_name"/>
            </div>
            <div class="form-group">
                <label>Vaccination Date: </label>
                <input type="date-time" class="form-control" ng-model="record.vaccination_date"/>
            </div>
            <div class="form-group">
                <label>vaccine Expiration: </label>
                <input type="date-time" class="form-control" ng-model="record.vaccine_expiration"/>
            </div>

            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id, record)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.vaccine_name}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.vaccine_name}}
                    </button>
            </div>
            
        </form>
        
    </div>
</div>