<!-- api specific field info plus save button, goes the new record upon save -->
<!-- form for::::::: -->
<!-- Field: Patient-Info:
Columns: 

name_first : string
name_last : string
patient_id : hash
patient_sex : string
race : string
height : string
height_in_inches : boolean
weight : num
weight_in_pounds : boolean
date_birth : date
address : string
phone_number : num
emergency_contact_name_first : string
emergency_contact_name_last : string
emergency_contact_phone_number : string
emergency_contact_address : string
eligible_blood_donor : boolean -->

<h2>Patient Info Records</h2>
<div ng-controller="recordUpdateDeletePatientInfoCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <ul class="list-group" id="patientInfo">

            <li class="list-group-item"><strong>First Name:</strong> {{record.name_first}}</li>
            <li class="list-group-item">Last Name: {{record.name_last}}</li>
            <!-- <li class="list-group-item">Patient ID: {{record.patient_id}}</li> -->
            <li class="list-group-item">Patient Sex: {{record.patient_sex}}</li>
            <li class="list-group-item">Race: {{record.race}}</li>
            <li class="list-group-item">Height: {{record.height}}</li>
            <li class="list-group-item">height in Inches: {{record.height_in_inches}}</li>
            <li class="list-group-item">Weight: {{record.weight}}</li>
            <li class="list-group-item">Weight in Inches: {{record.weight_in_pounds}}</li>
            <li class="list-group-item">Date of Birth: {{record.date_birth}}</li>
            <li class="list-group-item">Address: {{record.address}}</li>
            <li class="list-group-item">Phone Number: {{record.phone_number}}</li>
            <li class="list-group-item">Emergency Contact First Name: {{record.emergency_contact_name_first}}</li>
            <li class="list-group-item">Emergency Contact Last Name: {{record.emergency_contact_name_last}}</li>
            <li class="list-group-item">Emergency Contact Phone Numeber: {{record.emergency_contact_phone_number}}</li>
            <li class="list-group-item">Emergency Contact Address: {{record.emergency_contact_address}}</li>
            <li class="list-group-item">Eligible Blood Donor: {{record.eligible_blood_donor}}</li>
           
            <li class="list-group-item"> Record ID: {{record.id}}</li>

            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.name_first}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.record.name_first}}
                    </button>
            </div>
            
        </ul>
        
    </div>
</div>