<h2>Surgery and Surgical Procedure Records</h2>
<h6>Do not input real personal information, this app is currently in test phase.</h6>

<div ng-controller="recordUpdateDeleteSurgicalProceduresCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        
        <form>

                <!-- procedure_name : string -->
            <div class="form-group">
                <label>Procedure Name: </label>
                <input type="text" class="form-control" ng-model="record.procedure_name"/>
            </div>
            <!-- care_giver_name : string -->
            <div class="form-group">
                <label>Care Giver Name: </label>
                <input type="text" class="form-control" ng-model="record.care_giver_name"/>
            </div>
            <!-- care_giver_title : string -->
            <div class="form-group">
                <label>Care Giver Title: </label>
                <input type="text" class="form-control" ng-model="record.care_giver_title"/>
            </div>
            <!-- hospital : string -->
            <div class="form-group">
                <label>Hospital: </label>
                <input type="text" class="form-control" ng-model="record.hospital"/>
            </div>
            <!-- hospital_phone : num -->
            <div class="form-group">
                <label>Hospital Phone Number: </label>
                <input type="number" class="form-control" ng-model="record.hospital_phone"/>
            </div>
            <!-- hospital_address : string -->
            <div class="form-group">
                <label>Hospital Address: </label>
                <input type="text" class="form-control" ng-model="record.hospital_address"/>
            </div>
            <!-- medication_name : string -->
            <div class="form-group">
                <label>Medication Name: </label>
                <input type="text" class="form-control" ng-model="record.medication_name"/>
            </div>
            <!-- medication_purpose : string -->
            <div class="form-group">
                <label>Medication Name: </label>
                <input type="text" class="form-control" ng-model="record.medication_purpose"/>
            </div>
            <!-- medication_dose : string -->
            <div class="form-group">
                <label>Medication Dosage: </label>
                <input type="text" class="form-control" ng-model="record.medication_dose"/>
            </div>
            <!-- medication_frequency : string -->
            <div class="form-group">
                <label>Medication Frequency: </label>
                <input type="text" class="form-control" ng-model="record.medication_frequency"/>
            </div>
            <!-- medication_start_date: date -->
            <div class="form-group">
                <label>Medication Start Date: </label>
                <input type="date-time" class="form-control" ng-model="record.medication_start_date"/>
            </div>
            <!-- medication_end_date: date -->
            <div class="form-group">
                <label>Medication End Date: </label>
                <input type="date-time" class="form-control" ng-model="record.medication_end_date"/>
            </div>
            <!-- notes : string -->
            <div class="form-group">
                <label>Notes: </label>
                <input type="text" class="form-control" ng-model="record.notes"/>
            </div>


            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord(record.id, record)">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.procedure_name}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord(record.id)">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.procedure_name}}
                    </button>
            </div>
            
        </form>>
        
    </div>
        <br>
        <br>
        <br>
        <br>
</div>