<!-- api specific field info plus save button, goes the new record upon save -->
<!-- form for::::::: -->
<!-- Field: Surgical-Procedures
Columns: 

patient_id : hash
procedure_name : string
care_giver_name : string
care_giver_title : string
hospital : string
hospital_phone : num
hospital_address : string
medication_name : string
medication_purpose : string
medication_dose : string
medication_frequency : string
medication_start_date: date
medication_end_date: date
notes : string -->

<h2>Surgery and Surgical Procedure Records</h2>
<div ng-controller="recordUpdateDeleteSurgicalProceduresCtrl" class="col-xs-12">

    <div ng-repeat="record in records">
        <ul class="list-group" id="surgicalProcedures">
            <li class="list-group-item"><strong>Patient ID:</strong> {{record.patient_id}}</li>
            <li class="list-group-item"><strong>Procedure Name:</strong> {{record.procedure_name}}</li>
            <li class="list-group-item">Care Giver Name: {{record.care_giver_name}}</li>
            <li class="list-group-item">Care Giver Title: {{record.care_giver_title}}</li>
            <li class="list-group-item">Hospital: {{record.hospital}}</li>
            <li class="list-group-item">Hospital Phone: {{record.hospital_phone}}</li>
            <li class="list-group-item">Hospital Address: {{record.hospital_address}}</li>
            <li class="list-group-item">Medication Name: {{record.medication_name}}</li>
            <li class="list-group-item">Medicaction Purpose: {{record.medication_purpose}}</li>
            <li class="list-group-item">Medication Dose: {{record.medication_dose}}</li>
            <li class="list-group-item">Medication Frequency: {{record.medication_frequency}}</li>
            <li class="list-group-item">Medication Start Date: {{record.medication_start_date}}</li>
            <li class="list-group-item">Medication End Date: {{record.medication_end_date}}</li>
            
            <li class="list-group-item"> Record ID: {{record.id}}</li>

            
            <div class="col-xs-12">
                <button class="btn btn-primary" ng-click="edRecord()">
                    <span class="glyphicon glyphicon-pencil"></span>
                    Edit: {{record.procedure_name}}
                </button>
            </div>
            
            <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="delRecord()">
                        <span class="glyphicon glyphicon-trash"></span>
                        Delete: {{record.procedure_name}}
                    </button>
            </div>
            
        </ul>
        
    </div>
</div>