<!-- field specific info plus edit and save functions -->

<!-- Field: Family-History
Columns:
patient_id
family_member_relation
prion_disease 
cardiac_disease : boolean
cardiac_event
cardiac_event_ages : string
cardiac_death : bool
cardiac_ death_age : string
diabetes : bool
diabetes_type : string
organ_diseases : bool
organ_disease_name: string
respiratory_disease : bool
respiratory_disease_names : string
cancer : bool
cancer_death : bool
cancer_types : string
cancer_event_age : num
high_blood_pressure
stroke
alzheimers_or dementia :
osteoporosis
bleeding_disorder -->

