<!-- field specific info plus edit and save functions -->
<!-- Field: Patient-Info:
Columns: 

name_first : string
name_last : string
patient_id : hash
patient_sex : string
race : string
height : string
height_in_inches : boolean
weight : num
weight_in_pounds : boolean
date_birth : date
address : string
phone_number : num
emergency_contact_name_first : string
emergency_contact_name_last : string
emergency_contact_phone_number : string
emergency_contact_address : string
eligible_blood_donor : boolean -->


<h3>{{title}}</h3>
<form>
    <div class="form-group">
        <label>Task Description</label>
        <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
    </div>
    <form>
        <div class="form-group">
            <label>Task Description</label>
            <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
        </div>
        <div class="form-group">
            <label>Due Date</label>
            <input type="text" class="form-control" placeholder="1/12/18" ng-model="task.dueDate"/>
        </div>
        <div class="text-center">
            <button class="btn btn-default" ng-click="submitTask()">{{submitButtonText}}</button>    
        </div>
    </form>
</form>