<!-- field specific info plus edit and save functions -->
<!-- Field: Medications
Columns: 
patient_id
medication_name : string
current_use : bool
mediation_purpose: string
medication_dose_amount : string
medication_dose_frequency : string
medication_start_date: date
medication_end_date: date
care_giver : string
care_giver_title : string -->


<h3>{{title}}</h3>
<form>
    <div class="form-group">
        <label>Task Description</label>
        <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
    </div>
    <form>
        <div class="form-group">
            <label>Task Description</label>
            <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
        </div>
        <div class="form-group">
            <label>Due Date</label>
            <input type="text" class="form-control" placeholder="1/12/18" ng-model="task.dueDate"/>
        </div>
        <div class="text-center">
            <button class="btn btn-default" ng-click="submitTask()">{{submitButtonText}}</button>    
        </div>
    </form>
</form>