<!-- field specific info plus edit and save functions -->
<!-- 
Field: MajorIllness
Columns: 
patient_id : hash
illness_name : string
illness_start_date : date
illness_end_date : date
care_giver_name : string
illness_notes : string
medication_name : string
medication_purpose : string
medication_dose : string
medication_frequency : string
medication_start_date: date
medication_end_date: date
treatment_notes : string -->


<h3>{{title}}</h3>
<form>
    <div class="form-group">
        <label>Task Description</label>
        <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
    </div>
    <form>
        <div class="form-group">
            <label>Task Description</label>
            <input type="text" class="form-control" placeholder="Some important task" ng-model="task.task"/>
        </div>
        <div class="form-group">
            <label>Due Date</label>
            <input type="text" class="form-control" placeholder="1/12/18" ng-model="task.dueDate"/>
        </div>
        <div class="text-center">
            <button class="btn btn-default" ng-click="submitTask()">{{submitButtonText}}</button>    
        </div>
    </form>
</form>